.blog .site-main{display: flex;flex-wrap: wrap;justify-content: space-between;}
.page-content.blog .site-main{display: flex;flex-wrap: wrap;}
.page-content.blog  article.thunk-post-article{width: 49%;}
.wp-block-search__inside-wrapper button{padding: 7px 12px;border-radius: 5px;}
.widget_tag_cloud a{background: #c7b412;}
.widget_tag_cloud a:hover{color: #FFF;}
.sidebar-main > *{margin-bottom: 21px;}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img{width: 90px;}
.theme-twentytwenty .wc-block-grid.has-3-columns .wc-block-grid__product, 
.wc-block-grid.has-3-columns .wc-block-grid__product{flex: 1 0 100%;max-width: 90%;margin: 0 auto;margin-bottom: 21px;border: 1px solid #efefef;}
.cart-button .buttons a{font-size: 0.9rem!important;}
.woocommerce-checkout .main-area{max-width: 75%;}
.woocommerce-cart.woocommerce-page table.cart td.actions .coupon{align-items: center;}
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit, 
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button, 
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button, 
.woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button,
 :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button, 
 :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button{font-weight: 500;}
.widget-footer .widget-footer-wrap{padding: 75px 0;}
@media screen and (max-width: 1024px){.mobile-nav-tabs li a {font-size: 12px;}}