<!-- wp:post-content {"layout":{"inherit":true}} /-->
<div class="container">
<h2 class="about-us__tite-text">About Us</h2>
<p class="about-us__p-text">
Shoptiques is on a mission to connect independently owned fashion shop with customers that want to buy highly curated, one-of-a-kind merchandise.
<br>
When you place an order on Shoptiques,<strong> you are directly supporting an independently owned shop.</strong> Your order is packed and shipped directly from the store to your doorstep.
<br>
Our products come directly from small businesses that support their local communities, not from massive corporations with sprawling warehouses, so you can feel good when you shop with us.
<br>
And on behalf of Shoptiques & our shop partners, <strong> Thank you for shopping small!</strong>
</p>
<a href="/shop/">Browse Our shop</a>
</div>
